*{
	margin: 0;
	padding: 0;
}
ul{
	list-style: none;
}
body{
	font-family: "微软雅黑";
	color: #14191e;
}
.main{
	/*根据图片来定义*/
	width: 1200px;
	height: 460px;
	margin: 30px auto;
	/*没有加图片则会跑到下面去*/
	overflow: hidden;
	position: relative;
}
.banner{
	width: 1200px;
	height: 460px;
	overflow: hidden;
	/*设置为相对定位，相对于banner-slide*/
	/*三个盒子都定位了，谁最后出现谁的优先级是最高的*/
	position: relative;
}
.banner-slide{
	width: 1200px;
	height: 460px;
	/*设置为绝对定位*/
	position: absolute;
	/*平铺*/
	background-repeat: no-repeat;
	display: none;
}

.slide-active{
	/*设置当前图片是slide1*/
	display: block;
}
.slide1{
	background-image: url("../img/bg1.jpg"); 
}
.slide2{
	background-image: url("../img/bg2.jpg"); 
}
.slide3{
	background-image: url("../img/bg3.jpg"); 
}
.button{
	position: absolute;
	width: 40px;
	height: 80px;
	left: 244px;
	top: 50%;
	margin-top: -40px;
	background: url(../img/arrow.png) no-repeat center center;
}
.button:hover{
	background-color:#333;
	opacity: 0.2;
	/*为了让浏览器兼容*/
	filter: alpha(opacity=20);
}
.prev{
	transform: rotate(180deg);
}
.next{
	left: auto;
	right: 0;
}
.dots{
	position: absolute;
	right: 20px;
	bottom: 24px;
	text-align: right;
}
.dots span{
	display: inline-block;
	width: 12px;
	height: 12px;
	line-height: 12px;
	border-radius: 50%;
	background: rgba(7,17,27,0.4);
	box-shadow: 0 0 0 2px rgba(255,255,255,0.8) inset;
	margin-left: 8px;
	cursor: pointer;
}
.dots span.active{
	box-shadow: 0 0 0 2px rgba(7,17,27,0.4) inset;
	background-color: #fff;
}